$orange: #FFC200;
body{
  font-family: $blueprint-font-family; 
  font-size:1em;
  @include background-image(linear-gradient(white, #cccccc 30%, #bbbbbb 70%, #aaaaaa));	
  height:100%; 
}
.two-col {
  @include container;
  @include border-top-radius(25px);
  @include single-box-shadow; 
  margin-top:10px;  
  background-color:white; 
  #header, #footer, #division {
    @include column($blueprint-grid-columns);
  }
  #header{
    height:100px;
    padding-left:50px;
    #logo{
      @include column(12);
      font-weight:bold;
      font-size:5em;
      height:130px;
      vertical-align:bottom;
      text-shadow: 2px 2px gray;
      background-image:url('../images/clock150.jpg');
      background-repeat: no-repeat;
      background-position: 60px 0px;
      a{text-decoration: none; 
        color:black;
      }
    }
    #sign-in{
      margin-top:70px;
      margin-right:20px;   
    }
  }
  #division{
    border-top:10px solid black;
    background-color: white;
    height:2px;
    border-bottom: 5px solid black;  
  }
  #sidebar {
    @include column(7);  
    #sidebar-menu{  
      @include column(5, true);
      @include push(1); 
      @include border-radius(5px);
      border: 1px solid #CCCCCC; 
      background-color:#FAFAFB;  
      margin-top:30px;
      h1{
        color:#006295;
        text-align:center;
        height:20px;
        font-size:1.8em;
        font-weight:bold;
        margin-top:15px;
      } 
      ul {
        padding-left:5px;
        list-style-type:none;
        li {
          margin-top:10px;
          font-size:1.5em;
          span{
            display:block; 
            font-size:0.7em;
            color:gray;
            
          }
        }  
      }
    }
  }
  #content {
    @include column(17, true);  
    margin-top:30px;
    min-height:600px;
    #register, #sign-in {
      @include single-box-shadow; 
      height:300px;
      padding:10px;
      font-size:1.8em;
      text-align:center;
    }    
    #register{
      @include column(8);
      @include border-left-radius(15px);
      @include background-image(linear-gradient(right, #00467F, #009DDC));	
      color:white;
    }
    #sign-in{
      @include column(6);
      @include border-right-radius(15px);
      @include background-image(linear-gradient(left, #8DD62E, #9EEF14));	
    }

  } 
  #footer{
    @include column($blueprint-grid-columns);  
    text-align:center;
    background: black;
    color:#9EEF14;
    font-size:0.9em;
    padding:10px;
  }
}

