%h1 How long have you been quit?
%p Stay motivated is one of the most important factors to stay quit, see how good you are doing 
#register
  %p How many days have you been quit? How much money have you saved? How awesome are you?
  = link_to "Click here and find out", new_user_registration_path
  %p No worries, it's free!
#sign-in
  %p Already have an account? 
  = link_to 'Login to see how long have you been quit', new_user_session_path
  %p Or update your account.




